[Desktop Entry]
Version=X.X.X
Type=Application
Name=Yawls
GenericName=Yawls
Comment=Yawls automatic display brightness
Comment[de]=Yawls automatische Displayhelligkeit
Comment[en_GB]=Yawls automatic display brightness
Comment[fr]=Luminosité d'affichage automatique Yawls
Comment[it]=Luminosità automatica del dislpay Yawls
Comment[pt_BR]=Yawls ajusta automaticamente o brilho da sua tela
Comment[ro]=Yawls luminozitatea automată a ecranului
Comment[ru]=Автоматический контролёр освещённости Yawls
Comment[tr]=Yawls otomatik ekran parlaklığı
Comment[uk]=Автоматичний контролер освітлення Yawls
Exec=/usr/share/yawls/yawls_gui.sh
Icon=/usr/share/yawls/yawls_icon_64x64.png
Terminal=false
Categories=System
